# APP_ENV (.env.dev / .env.prod)
PUBLIC_APP_NAME=Voyager

PUBLIC_LOG_LEVEL=warning

PUBLIC_GATEWAY_URL=https://gateway.voyager.fm
PUBLIC_WEB_BASE_URL=https://voyager.fm

# BACKEND_MODE (source / bundled)
PUBLIC_BACKEND_HOST=127.0.0.1
PUBLIC_BACKEND_PORT=0
PUBLIC_BACKEND_PROCESS_NAME=Voyager Backend

PUBLIC_SQLITE_PROTOCOL=sqlite:///
PUBLIC_SQLITE_ECHO=true
PUBLIC_SQLITE_CHECK_SAME_THREAD=false
PUBLIC_SQLITE_FILE_LOCATION=~/Library/Application \Support/Voyager/
PUBLIC_SQLITE_FILE_NAME=voyager.db
