# APP_ENV (.env.dev / .env.prod)
PUBLIC_APP_NAME=Voyager
PUBLIC_HELPER_NAME=Voyager Helper

PUBLIC_LOG_LEVEL=warning

PUBLIC_GATEWAY_URL=https://gateway.voyager.fm
PUBLIC_WEB_BASE_URL=https://voyager.fm

PUBLIC_SENTRY_DSN=https://5deeba2afc46effe0c80e97e3cd54083@o4510764689784832.ingest.us.sentry.io/4510764691881984
PUBLIC_SENTRY_TRACES_SAMPLE_RATE=0.05
