[submodule "docs/canonical"]
	path = docs/canonical
	url = https://github.com/voyager-labs/voyager-documentation.git
[submodule "fixtures"]
	path = fixtures
	url = https://github.com/voyager-labs/voyager-test-files.git
