<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_ENV</key>
	<string>$(APP_ENV)</string>
	<key>SUPublicEDKey</key>
	<string>NomZB47jirICFt7N3J9K+ONptIwZig9UdpEnAiC1JJI=</string>
	<key>SUFeedURL</key>
	<string>https://downloads.voyager.fm/releases/appcast.xml</string>
</dict>
</plist>
